<!-- <div class="top-strip"></div> -->
<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="./">Devi Parikh </a>
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <li>
          <a href="#news">News</a>
        </li>
        <li>
          <a href="#about">About</a>
        </li>
        <li>
          <a href="#publications">Publications</a>
        </li>
        <li>
          <a href="#cv">CV</a>
        </li>
        <li>
          <a href="#lab">Lab</a>
        </li>
        <li>
          <a href="#teaching">Teaching</a>
        </li>
        <li>
          <a href="#press-coverage">Press Coverage</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="http://www.gatech.edu">
            <img style="height:20px;" src="./static/img/ico/gt.jpg">
          </a>
        </li>
        <li>
          <a href="https://research.fb.com/category/facebook-ai-research-fair/">
            <img style="height:20px;" src="./static/img/ico/fair_logo.png">
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>