.anchor:before {
  display: block;
  content: " ";
  margin-top: -100px;
  height: 100px;
  visibility: hidden;
}

body {
  font-size: 16px;
  line-height: 23px;
  font-weight: 300;
  -webkit-font-smoothing: subpixel-antialiased;
  color: #333;
  padding-top: 70px;
}

body *::selection {
  background: #e67e22;
  color: #fff;
}

.container {
  max-width: 980px;
}

.top-strip {
  background-color: #000;
  height: 0.25em;
  width: 100%;
}

h1,h2,h3 {
  color: #1a1a1a;
  font-weight: 300;
}

h1 {
  margin: 0 0 10px;
  font-size: 30px;
  line-height: 35px;
}

h2 {
  margin: 0 0 10px;
  font-size: 25px;
  line-height: 30px;
}

h3 {
  margin: 0;
  font-size: 20px;
  line-height: 25px;
}

.page-header {
  margin-top: 20px;
  /*border-color: #3498db;*/
}

p.authors {
  margin-bottom: 5px;
  color: #808080;
  font-size: 20px;
}

p.authors a {
  border-color: #dedede;
}

img {
  max-width: 100%;
}

p {
  text-align: justify;
}

a {
  text-decoration: none;
  border-bottom: 1px solid #ccc;
  color: inherit;
}

.navbar a {
  border-bottom: 0;
}

p.lead.authors a {
  border-bottom: none;
}

a:hover, a:focus {
  color: inherit;
  text-decoration: none;
}

.thumb {
  margin: 20px 0;
  border: 1px solid #808080;
}

pre {
  color: #333;
  font-size: 12px;
  line-height: 17px;
}

#vimeo-embed {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  height: auto;
}

#vimeo-embed iframe,
#vimeo-embed object,
#vimeo-embed embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.people-pic {
  max-width: 100%;
  height: 125px;
}

.people-name {
  margin: 5px 0 10px;
}

.people-name h6 {
  margin: 2px 0;
  font-weight: 300;
  font-size: 11px;
}

#sequence {
  height: 70px;
}

#legend {
  padding: 10px 0 0 3px;
}

#sequence text, #legend text {
  font-weight: 300;
  fill: #fff;
}

#chart {
  position: relative;
  border-right: 1px solid #eee;
}

#chart path {
  stroke: #fff;
}

#explanation {
  position: absolute;
  top: 240px;
  left: 180px;
  width: 140px;
  text-align: center;
  color: #666;
  z-index: -1;
}

#percentage {
  font-size: 2.5em;
}

.sponsor img {
  max-height: 150px;
  max-width: 350px;
  /*border: 1px solid black;*/
  padding: 10px;
  margin-right: 20px;

}

.my-pic {
  max-height: 184px;
}

.press p img {
  height: 30px;
}

@media all and (max-width: 768px) {
  .press p img {
  height: 16px;
  }
}

.press a img {
  border-bottom: none;
}

.press p:nth-child(odd) {
    text-align: left;
}

.press p:nth-child(odd) a {
    margin-right: .5rem;
}


/* Publications page */

.year-links p, .year-links a {
  margin-right: 0.75rem;
  -ms-text-align-last: auto;
  text-align: left;
}

.pub .row {
  padding: 0 15px;
}

.pub .md-blue {
  color: #4D8DF4;
  font-weight: bold;
}

.pub .col-sm-7 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* height: 260px; */
  padding-left: 25px;
}

.pub .col-sm-7 p {
  margin-bottom: 3px;
  line-height: 18px;
  font-size: 14px;
}

.pub .col-sm-5 p {
  text-align: center;
  margin-bottom: 0;
}

.pub .col-sm-5 p img {
  /* max-height: 95px; */
  max-width: 200px;
}

.pub hr {
  margin: .75rem 0;
}

.pub h5 a {
  font-size: medium;
}

@media screen and (max-width: 991px) {
  .pub .col-sm-7 {
    height:auto;
    padding-left: 15px;
  }
  .pub .col-sm-7 p {
    text-align: left;
    font-size: 14px;
    letter-spacing: -0.15px;
    margin-bottom: 0;
    line-height: 18px;
  }
  #navbar-main > ul > li > a{
    padding-left: 0;
    font-size: 14px;
    letter-spacing: -0.1px;
  }
  #navbar-main > ul > li:last-child > a {
    padding-right: 0;
  }
}

.vertical-align {
    display: flex;
    align-items: center;
}

@media (max-width: 767px) {
  .row.vertical-align {
    display: block; /* Turn off the flexible box layout */
  }
  .pub .col-sm-7 {
    margin-top: 1rem;
  }
  .pub .col-sm-7 p {
    line-height: 18px;
  }
  .pub .col-sm-5 p {
    text-align: left;
  }
  .pub .col-sm-5 p img {
    /* max-height: 95px; */
    max-width: 200px;
  }
}

/* Utility class */

.mt-1 {
  margin-top: 10px;
}
.mt-2 {
  margin-top: 20px;
}

.mb-1 {
  margin-bottom: 10px;
}
.mb-2 {
  margin-bottom: 20px;
}
